
body{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
letter-spacing: normal;
line-height: normal;
word-wrap: break-word;
}


nav .container{
	margin: 0px !important
}
.nav-bg{
	background-color: #ffffff !important;
}


.nav-links{
	/* Style for "Home" */
color: #82b9ed !important;
font-size: 15px;
font-weight: 500;
text-align: left;
margin-right: 30px;
}

.share-a-friend{
	    background-color: rgba(255, 74, 74, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.16);
color: #ffffff !important;
font-family: Montserrat;
font-size: 13px;
font-weight: 500;
text-align: left;
    padding: .5rem 1rem !important;

}

@media (max-device-width: 768px){
	.nav-links{
		font-size: 15px

	}
	.share-a-friend{
		font-size: 13px;
	}
	.nav-item .nav-links{
		margin-left: 15px !important;
	}

.navbar-brand img{
	width: 180px !important;
    height: auto;
}
.fs .row .col-sm-6{ 
	padding-right: 0px;
}
.navbar{
	margin-bottom: 5px;
}
.navbar ul{
	    margin-left: 5px;

}
}

.navbar-toggler{
	font-size: 1.25rem;
	border-color: unset !important;
	border: unset !important;
	outline: none !important;
}

#navbarNavDropdown{
	justify-content: flex-end;
	margin-right: 35px;
}

.navbar .image-fluid{
	justify-content: center;
}
.mt-10{
	margin-top: 10px !important;
}
.navbar{
	    padding: 0;

}

.row{
	margin: 0;
}
.pd-10{
	padding: 10px
}
.sit-natural{
/* Style for "Stay natur" */
color: #073077;
font-family: Montserrat;
font-size: 26px;
font-weight: 700;

}

.experience{
	/* Style for "Experience" */
color: #073077;
font-family: Montserrat;
font-size: 15px;
font-weight: 400;
}

.bg-blue{
	background-color: #82b9ed;
}

.mt--5{
	margin-top: -5px;
}

.w-80{
	    max-width: 80%;
}

@media (max-device-width: 760px){
	.swap{
	flex-direction: column-reverse;
}
}

@media (max-device-width: 768px){
	.experience{
		/* margin-top: 20px; */
		text-align: center;
		font-size: 13px;
		font-weight: 500;
}
.sit-natural{
	margin-top: 20px;
		text-align: center;
		font-size: 18px;
}
}

.shop-now{
	background-color: rgba(255, 74, 74, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.16);
color: #ffffff !important;
font-size: 9px;
font-weight: 500;
text-align: left;
    margin-top: 20px;
    padding: .5rem 1rem !important;
}

 a:hover{
cursor: pointer;
    text-decoration: none;
}
   
.mt-12{
	margin-top: 12px
}


@media (max-device-width: 768px){
	.shop-div{
		 text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

}

.mt-20{
	margin-top: 20px;
}

.bg-orange{
	background-color: #fa8c5f;
}

.wd-50{
	width: 50%;
}

.color-white{
color: #ffffff;
}
.z-index-1{
	z-index: 2
}

.wd-75{
	   width: 75%;
}
.wd-87{
	width: 87%;
}
.wd-80{
	width: 80%;
}
.mb-25{
	margin-bottom: 25px;
}

.mb-10{
	margin-bottom: 10px;
}

.mr-12{
	margin: 12px;
}
.wd-65{
	width: 65%;
}

.wd-68{
	width: 68%;
}
.card-body {
    padding: unset;
}
.color-blue{
	color: #073077;
}
.text-sec3 h3,h4{
	/* Style for "The scienc" */
font-family: Montserrat;
font-size: 18px;
text-align: center;
font-weight: 600;
}
.f9{
	font-size: 9px !important;
}
.pdt-33{
	padding-top: 33px;
}


.lower-text-sec3 p{
color: #073077;
font-family: Montserrat;
font-size: 12px;
font-weight: 500;
text-align: center;
}

.sitting-text{
color: #073077;
font-family: Montserrat;
font-size: 13px;
font-weight: 600;
text-align: center;
margin-top: 11px;
}

.sitting-lower-text{
	/* Style for "Loreum eps" */
color: #ffffff;
font-family: Montserrat;
font-size: 11px;
font-weight: 300;
text-align: center;
}
.pdb-27{
	padding-bottom: 27px;
}
.pd-8{
	padding-top: 8px;
}
.wd-45{
	width: 45% !important;
}

.wd-48{
	width: 48%;
}
.mr-30{
	margin: 30px;
}
.mr-22{
margin: 22px;
}

.mr-16{
margin: 16px;
}


.wd-26{
	width: 26%;
}


.wd-20{
	width: 20%;
}
.knee-text{
color: #000000;
font-family: "Segoe UI";
font-size: 14px;
font-weight: 600;
}

.knee-l-text{
color: #000000;
font-family: "Segoe UI";
font-size: 11px;
font-weight: 300;
}

.pd-20{
	padding: 20px;
}

.card-title{
	/* Style for "Offer for" */
color: #073077;
font-family: Montserrat;
font-size: 15px;
font-weight: 700;
margin-bottom: 0;
}

.card-img-center{
	width: 87%;
    margin: 11px;
    position: relative;
    left: 6px;
}
.card-text{
color: #073077;
font-family: Montserrat;
font-size: 15px;
font-weight: 500;
margin-bottom: 0;
}

.card-desc{
color: #073077;
font-family: Montserrat;
font-size: 15px;
font-weight: 300;
margin-bottom: 0;
}

.img-bg{
	background-color: #82b9ed;
}

.card img{
	border-radius: 12px;
}

.card{
	border-radius: 10px;
	text-align: center;

}
.pad-top{
	padding-top: 30px;
}
@media (max-device-width: 768px){
.card{
	margin: 20px;
}
}
.bg-green{
	background-color: #90a271;
}

.wd-107{
	width: 107%;
}
.percent-100{
text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.16);
color: #ffffff;
font-family: Montserrat;
font-size: 26px;
font-weight: 600;
}

.percent{
	border-radius: 50%;
	width: 80px;
    display: flex;
	height: 80px;
	border: 5px solid #ffffff;
    text-align: center;
    vertical-align: middle;
    overflow: hidden
}

.percent-bg{
	background-color: #e65858;
}
@media (max-device-width: 768px){
	.percent {
		border-radius: 50%;
		width: 55px;
		display: flex;
		height: 55px;
		border: 3px solid #ffffff;
		text-align: center;
		vertical-align: middle;
		overflow: hidden;
	}
	.percent-100 {
		text-shadow: 8px 8px 5px rgba(0, 0, 0, 0.16);
		color: #ffffff;
		font-family: Montserrat;
		font-size: 13px;
		/* font-weight: 600;*/
	}
}
.three-img{
	clear: both; display: block; position: relative
}
.justify-space{
	justify-content: space-around;
}

.font-blue{
	color: #073077;
}
.bg-img{
	position: relative;
  text-align: center;
}

.search-box{
	border-radius: 20px;
    background-color: #707070 ;
    border: 1px solid #ffffff;
    width: 68%;
    height: auto;
    line-height: 2.5;
}

.search-box::placeholder{
color: #000000;
font-size: 19px;
font-weight: 300;
font-style: normal;
}
.search-btn{
	background-color: #ff4a4a;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    padding: 5.5px;
    border-radius: 35px;
}

.top-middle{
		position: absolute;
		top: 50%;
		right: 16px;
}

@media (max-device-width: 768px){
	.top-middle{
		position: absolute;
		top: 16%;
		right: 16px;
}
}

/* ////////////////////////// */
.container {
	position: relative;
	width: 100%;
	max-width: 400px;
  }
  
  .container img {
	width: 100%;
	height: auto;
  }
  
  .container .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	background-color: rgba(255, 74, 74, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.16);
    color: #ffffff !important;
    font-size: 9px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
    padding: .5rem 1rem !important;
  }
  
  .container .btn:hover {
	background-color: black;
  }

  /* fooooooooooooooooter */

ul{
	list-style: none;
}

.footer-bg{
	background-color: #fa8c5f;
}

footer h6{
	color: #000000;
	font-family: Montserrat;
	font-size: 21px;
	font-weight: 600;
}
.icn-square{
	border: 1px solid saddlebrown;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 7px;
	padding-top: 4px;
	padding-bottom: 2px;
}
.icn-rounded{
	border-radius: 50%;
	border: 1px solid saddlebrown;
	padding-top: 3px;
    padding-left: 5px;
    position: relative;
    padding-bottom: 2px;
    padding-right: 5px;
}
.list-inline-item a{
color: #000000;
font-size: 21px;
font-weight: 300;
}

.mt-14{
	margin-top: 14px;
}


/* /////////////////////////next viev page////////////////////// */
.carousel-control-next {
    right: 0;
    left: 73%;
	display: flex;
	justify-content: end;
}

.carousel-control-prev {
	display: flex;
	justify-content: start;
}

.small-img img{
	width: 68px !important;
	height: 68px;
	padding: 10px;
}

.v-heading{
	/* Style for "The Origin" */
color: #ffffff;
font-size: 33px;
font-weight: 600;
}
@media (max-device-width: 768px){
	.mb-flex{
		display: flex;
		float: none !important;
}
}
.active {
    border: 8px solid #ffffff;
    border-radius: 6px;
}
.pad-0{
	padding: 0;
}
.wd-28{
	width: 28%;
}
.wd-35{
	width: 35%;
}
.wd-60{
	width: 60%;
}
.pad-40{
	padding:40px
}
.pad-2020{
	padding-left: 20%;
    padding-right: 20%;
}
.pad-175{
	padding-left: 175px;
    padding-right: 175px;
}
.v-desc{
color: #ffffff;
font-size: 18px;
font-weight: 400;
text-align: left;
}

.form-control{
	max-width: 50px;
	padding: 0;
	outline: unset;
width: 60px;
height: 31px;
border-radius: 8px;
background-color: #ffffff;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
}
input[type=number]::-webkit-inner-spin-button {
	width: 30px;
	height: 30px;
  }

  .quantity{
	  /* Style for "QUANTITY:" */
color: #ffffff;
font-size: 10px;
font-weight: 700;
  }

  .cost{
	  /* Style for "₹599.00 IN" */
color: #073077;
font-family: Montserrat;
font-size: 26px;
font-weight: 600;
text-align: left;
text-transform: uppercase;
  }

  .discount{
color: #073077;
font-family: Montserrat;
font-size: 17px;
font-weight: 600;
line-height: normal;
text-align: left;
text-decoration: #ffffff line-through;
  }

  .free{
color: #ffffff;
font-family: Montserrat;
font-size: 12px;
font-weight: 500;
margin-bottom: 7px;
  }
  
  .order{
border-radius: 8px;
background-color: #073077;
border: 0;
color: #ffff;
padding: 7px;
margin-bottom: 10px;
  }
  .tick p{
color: #ffffff;
font-family: Montserrat;
font-size: 18px;
font-weight: 500;
text-align: left;
  }

  .bg-white{
	background-color: #ffffff;
  }

  .abt-div-shadow{
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	width: 68%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 15px;
  }
  .abt-product{
opacity: 0.92;
color: #073077;
font-size: 25px;
font-weight: 600;
padding-top: 15px;
  }
  .abt-desc{
color: #073077;
font-size: 20px;
font-weight: 300;
color: #000000;
  }

  .abt-knowmore{
	color: #073077;
	font-size: 20px;
	font-weight: 300;
	  }

	  /* /////last accordian start//////// */
	  .mb-0 > a {
		display: block;
		position: relative;
	  }
	  .mb-0 > a:after {
		content: "\f078"; /* fa-chevron-down */
		font-family: 'FontAwesome';
		position: absolute;
		right: 0;
	  }
	  .mb-0 > a[aria-expanded="true"]:after {
		content: "\f077"; /* fa-chevron-up */
	  }

	 /* ////////////////////////first accoris////////////////////// */
	 .product-spec .card{
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		border: unset;
		margin-bottom: 5px;
	 }
	 .product-spec .mb-0 > button:after {
		content: "\f0d7"; /* fa-chevron-down */
		font-family: 'FontAwesome';
		position: absolute;
		right: 0;
	  }
	  .product-spec .mb-0 > button[aria-expanded="true"]:after {
		content: "\f0d8"; /* fa-chevron-up */
	  }

	 .acc1 .card{
		margin-left: 35px;
	 }
	 .acc2 .card{
		margin-right: 35px;
	 }
	 .product-spec .card-header{
		  background-color: unset;
		  /* Style for "Rectangle" */
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
background-color: #ffffff;
	  }
.product-spec .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: unset;
}

.btn-link.focus, .btn-link:focus {
    text-decoration: unset;
}

.product-spec button.btn.btn-link {
opacity: 0.92;
color: #073077;
font-size: 25px;
font-weight: 500;
}

.btn-link:hover {
    text-decoration: unset;
}

.faq .accordian{
	display: block;
    width: 50%;
    margin: auto;
}

.faq .card-header{
    background-color: unset;
    border: 0;
}

.faq .card{
	border: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}

.faq-title{
opacity: 0.92;
color: #073077;
font-size: 25px;
font-weight: 600;
text-align: center;
}

.faq a{
opacity: 0.92;
color: #073077;
font-size: 22px;
font-weight: 400;
text-align: left;
}